{% if not course.upcoming %}
<div class="reviews-parent">
    {% set reviews = get_reviews(course.name) %}
    <div class="page-title mb-5"> {{ _("Reviews") }} </div>

    <div class="empty-state">
        <img class="icon icon-xl" src="/assets/lms/icons/comment.svg">
        <div class="empty-state-text">
            <div class="empty-state-heading">{{ _("Review the course") }}</div>
            <div class="course-meta">{{ _("Help us improve our course material.") }}</div>
            <div class="mt-2">
                {% include "lms/templates/reviews_cta.html" %}
            </div>
        </div>
    </div>
    {% endif %}
</div>


<div class="modal fade review-modal" id="review-modal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">{{ _("Write a Review") }}</div>
            </div>


            <div class="modal-body">
                <form class="review-form" id="review-form">
                    <div class="form-group">
                        <div class="clearfix">
                            <label class="control-label reqd" style="padding-right: 0px;">{{ _("Review") }}</label>
                        </div>
                        <div class="control-input-wrapper">
                            <div class="control-input">
                                <textarea type="text" autocomplete="off" class="input-with-feedback form-control review-field"
                                data-fieldtype="Text" data-fieldname="feedback_comments" spellcheck="false"></textarea>
                            </div>
                        </div>
                    </div>
                    <p class="error-field muted-text"></p>
                </form>
            </div>


            <div class="modal-footer">
                <button class="btn btn-secondary btn-sm mr-2" data-dismiss="modal" aria-label="Close">
                    {{ _("Discard") }}
                </button>

                <button class="btn btn-primary btn-sm" data-course="{{ course.name | urlencode}}" id="submit-review">
                    {{ _("Submit") }}
                </button>
            </div>
        </div>
    </div>
</div>
{% endif %}
